__pycache__
.cache
.env
*.egg-info
*.pyc
*~
staticfiles
.DS_Store
.DS_Store?

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*,cover
.hypothesis/
