{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-8 col-centered">
    <h1>ID verification</h1>

    <p class="service-desc">
      Welcome to Littlewoods Ireland, to submit your identification documents.<br>
      Please follow the instructions bellow:
    </p>

    <hr>
    <h4>Email Address</h4>
    Please use the email address that you use on your Littlewoods Ireland account.

    <h4>LWI Account Number</h4>
    Details of your account number can be found on the ID Verification email that you received when you set up your account.

    Proof of identity

    1. Upload a photo of your passport or driving license.

    Proof of Address
    2. Upload a photo of a utility bill: gass, electricity or telephone.
  </div>
</div>
{% endblock %}
