{% extends 'base_idvn.html' %}

{% load staticfiles %}

{% block js %}
  {{ block.super }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.2/mobile-detect.min.js"></script>
  <script src="{% static 'js/upload.js' %}"></script>

  <!-- cdn for modernizr, if you haven't included it already -->
  <script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
  <!-- polyfiller file to detect and load polyfills -->
  <script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
  <script>
    webshims.setOptions('forms-ext', {types: 'date'});
    webshims.polyfill('forms forms-ext');
    $.webshims.formcfg = {
    en: {
        dFormat: '-',
        dateSigns: '-',
        patterns: {
            d: "dd-mm-yy"
        }
    }
    };
    $.webshims.activeLang('en');
  </script>

  <script>
			webshim.setOptions('forms', {
				lazyCustomMessages: true,
				replaceValidationUI: true,
				addValidators: true
			});

			(function(){
				var stateMatches = {
					'true': true,
					'false': false,
					'auto': 'auto'
				};
				var enhanceState = (location.search.match(/enhancelist\=([true|auto|false|nopolyfill]+)/) || ['', 'auto'])[1];

				webshim.ready('jquery', function(){
					$(function () {
						$('.polyfill-type select')
								.val(enhanceState)
								.on('change', function () {
									location.search = 'enhancelist=' + $(this).val();
								})
						;
					});
				});
				webshim.setOptions('forms', {
					customDatalist: stateMatches[enhanceState]
				});
				webshim.setOptions('forms-ext', {
					replaceUI: stateMatches[enhanceState]
				});
			})();


			// load the forms polyfill
			webshim.polyfill('forms forms-ext');

		</script>

    <script>
			webshim.ready('jquery', function(){
				webshim.loader.loadScript("../../static/js/demo.js", false, false, true);
				webshim.loader.loadScript("../../static/js/cfg.js", false, false, true);
			});
		</script>

  {% endblock %}

{% block content %}

<!-- Large modal -->
<div id="js-modal" class="collapse modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    </div>
  </div>
</div>


<div class="page-wrapper">
  <div id="content-wrapper">
    <!-- Main image -->
    <div class="row">
      <div class="col-md-12 md-no-padding">
        <div class="img-verification-container">
          <img src="{% static "img/lwi-aw2019.jpg" %}" class="img-responsive img-verification" alt="Responsive image">
          <div class="main-container">
            <div class="title-header">ID Verification</div>
            <div class="title-description hidden-xs">
              Welcome to Littlewoods Ireland.<br />To submit your identification documents, please follow the instructions below:
            </div>
            <div class="visible-xs">
              <br />Welcome to Littlewoods Ireland.<br />To submit your identification documents,<br />please follow the instructions below:
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Back to My Account button -->
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <a class="btn btn-default btn-back-text" href="
          https://www.littlewoodsireland.ie/account/myaccount/accountSummary.page">
          <i class="fa fa-arrow-left btn-back-arrow" aria-hidden="true"></i>
          <span>Back to My Account</span>
        </a>
      </div>
    </div>

    <!-- ID Verification form -->
    <div class="row">
      <div class="col-md-12">
        <form action="" method="POST" id="id-docs">
          {% csrf_token %}

          <!-- Email address -->
          <div class="form-group">
            <label for="lwi-email-address">Email Address</label>
            <p>Please use the email address that you use on your Littlewoods Ireland account.</p>
            <input type="email" class="form-control" name="email" id="lwi-email-address" placeholder="Email address" required>
          </div>

          <!-- LWI Account number -->
          <div class="form-group">
            <label for="lwi-account-number">LWI Account Number</label>
            <p>Details of your account number can be found in the My Account section on your Littlewoods Ireland account.</p>
            <input type="text" class="form-control" maxlength="9" name="account_number" id="lwi-account-number" placeholder="Account number" required>
          </div>

          <!-- Proof of identity -->
          <div class="form-group">
            <label class="form-label col-xs-12">
              <div class="label-header">Photo ID</div>
              <label for='files-photo-id' class='upload-file'>Upload ID here</label>
              <p class="label-description">Upload one of the following forms of ID</p>
              <div class="proof-types-container types-only">
                <div class="proof-type"><i class="fa fa-upload"></i>Passport</div>
                <div class="proof-type"><i class="fa fa-upload"></i>Driver's Licence</div>
                <div class="proof-type"><i class="fa fa-upload"></i>National Identity Card (EU Only)</div>
              </div>
            </label>
            <input type="file" name="files" id="files-photo-id" accept="image/*">
            <div id="files-photo-id-thumbnail"></div>

            <div class="address-proof-with-datepicker-container col-xs-12">
              <label class="form-label with-datepicker">
                <div class="label-header">First Proof of address</div>
                <div><label for='files-address-proof-1' class='upload-file'>Upload ID here</label></div>
                <p class="label-description">Upload one of the following proof of address</p>
                <div class="proof-types-container">
                  <div class="proof-types-line">
                    <div class="proof-type"><i class="fa fa-upload"></i>Utility / Phone Bill</div>
                    <div class="proof-type"><i class="fa fa-upload"></i>Bank / Credit Union / An Post Statement</div>
                  </div>
                  <div class="proof-types-line">
                    <div class="proof-type"><i class="fa fa-upload"></i>Motor Tax Certificate</div>
                    <div class="proof-type"><i class="fa fa-upload"></i>Certificate of Insurance (Motor or Home only)
                    </div>
                  </div>
                </div>
              </label>
              <input type="file" name="files" id="files-address-proof-1" accept="image/*">

              <div class="datepicker-container">
                  <div class="label-date-header"><label for="files-address-proof-1-issue-date">
                    Issue date
                  </label> </div>
                  <!--<input class="date-input" type="date" name="date" placeholder="DD-MM-YYYY" id="files-address-proof-1-issue-date" />-->
                  <input placeholder="DD-MM-YYYY" class="date-input datefield" name="date" type="date" id="files-address-proof-1-issue-date" >
              </div>
            </div>
            <div id="files-address-proof-1-thumbnail"></div>

            <div class="address-proof-with-datepicker-container col-xs-12">
              <label class="form-label with-datepicker">
                <div class="label-header">Second Proof of address</div>
                <label for='files-address-proof-2' class='upload-file'>Upload ID here</label>
                <p class="label-description">Upload one of the following proof of address</p>
                <div class="proof-types-container">
                  <div class="proof-types-line">
                    <div class="proof-type"><i class="fa fa-upload"></i>Utility / Phone Bill</div>
                    <div class="proof-type"><i class="fa fa-upload"></i>Bank / Credit Union / An Post Statement</div>
                  </div>
                  <div class="proof-types-line">
                    <div class="proof-type"><i class="fa fa-upload"></i>Motor Tax Certificate</div>
                    <div class="proof-type"><i class="fa fa-upload"></i>Certificate of Insurance (Motor or Home only)
                    </div>
                  </div>
                </div>
              </label>
              <input type="file" name="files" id="files-address-proof-2" accept="image/*">

              <div class="datepicker-container">
                <div class="label-date-header"><label for="files-address-proof-2-issue-date">
                  Issue date
                </label></div>
                <!--<input class="date-input" type="date" name="date" id="files-address-proof-2-issue-date" />-->
                <input placeholder="DD-MM-YYYY" class="date-input datefield" name="date" type="date" id="files-address-proof-2-issue-date">
              </div>
            </div>
            <div id="files-address-proof-2-thumbnail"></div>

            <p class="file-input-checker">No files selected</p>
            <p class="help-block">Maximum file size 4mb</p>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div id="files-upload-result"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="progress-bars"></div>
            </div>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-submit">
            <i class="fa fa-lock"></i>
            <span>Submit</span>
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p class="disclaimer">Shop Direct Ireland Limited trading as Littlewoods Ireland, is regulated by the Central Bank
        of Ireland</p>
    </div>
  </div>

  <!-- Templates. They are minimal/straightforward so underscore was not used -->

  <div id="progress-bar-template-container" class="collapse">
    <div class="filename">__filename__</div>
    <div class="progress">
      <div data-filename="__filename__" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
  </div>

  <div id="successful-upload-template" class="collapse">
    <div class="row">
      <div class="col-md-9 success-msg-container">
        <h4>Thanks for uploading your identification details!</h4>
        <p>
          Your details will be stored and will only be used in relation to your Littlewoods Ireland flexible account. We
          will be in touch if we require clarification or further information.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 lwi-link-container">
        <a href="http://www.littlewoodsireland.ie" class="lwi-link">Littlewoods Ireland Home</a>
      </div>
    </div>
  </div>

  <div id="failed-upload-template" class="collapse">
    <div class="modal-body">
      <h3>Something went wrong.</h3>
      <p>If the problem persists, please contact us at validation@shopdirect.com</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

  <div id="upload-unsupported-template" class="collapse">
    <div class="modal-body">
      <p>
        We are currently upgrading our system, please bear with us while we carry out this work, apologies
        for any inconvenience caused. Please email us at <a
          href="mailto:validation@shopdirect.com">validation@shopdirect.com</a>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

  <div id="files-required-template" class="collapse">
    <div class="modal-body">
      <p>Select image or document for each section, please</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

  <div id="files-invalid-template" class="collapse">
    <div class="modal-body">
      <p>The selected file is not supported, please select another</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

  <div id="files-size-invalid-template" class="collapse">
    <div class="modal-body">
      <p>The selected file is bigger than 4mb, please select another</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

  <div id="dates-required-template" class="collapse">
    <div class="modal-body">
      <p>Fill all date fields for uploaded files, please</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

  <div id="dates-not-in-future-template" class="collapse">
    <div class="modal-body">
      <p>Dates entered must be on or before the current date</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

{% endblock %}
