{% extends 'giftwrap/customer_base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}
      <div class="jumbotron">
         <div class="container">
            <img src="{% static "img/lwi-logo-horizontal-white.svg" %}" class="img-responsive" alt="Littlewoods Ireland logo">
            <h2>{{ special_date_name }} Gift Wrapping</h2>
         </div>
      </div>
      <!-- <img src="img/lwi-gift-wrapping.png" class="img-responsive" alt="Responsive image"> -->
      <div class="container">
         <div class="wrapper white-bg">
         <h4>Order Details</h4>
            <form method="POST" action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
               <div class="form-group">
                  <label for="lwi-account-number">LWI Account Number</label><br>
                  {{form.account_number.errors}}
                  {{ form.account_number|attr:"type:text"|add_class:"form-control"|attr:"id:lwi-account-number"|attr:"placeholder:Account number"}}
                  <small class="form-text text-muted">Your account number can be found under 'My Account' (next to your name).</small>
               </div>
               <div class="form-group">
                  <label for="lwi-email-address">Email Address</label>
                   {{form.email.errors}}
                  {{ form.email|attr:"type:email"|add_class:"form-control"|attr:"id:lwi-email-address"|attr:"placeholder:Email address" }}
                  <small class="form-text text-muted">Please use the email address that you use on your Littlewoods Ireland account.</small>
               </div>
               <div class="form-group">
                  <label for="exampleTextarea">Product Description</label>
                  {{form.product_description.errors}}
                  {{form.product_description|add_class:"form-control"|attr:"id:lwi-product-desc"|attr:"rows:3" }}
               </div>
               <div class="clear"></div>
               <h4>Details for Gift Wrapping</h4>
               <div class="form-group">
                  <label for="exampleTextarea">Message for card</label>
                  {{form.card_message.errors}}
                  {{ form.card_message|add_class:"form-control"|attr:"lwi-product-desc"|attr:"rows:3"}}
               </div>
               {% if special_date_name %}
                  <div class="form-group">
                    <strong><label for="deliver_by_special_date">Deliver by {{ special_date_name }}?</label></strong>
                     {{form.deliver_by_special_date.errors}}
                    {{ form.deliver_by_special_date|attr:"type:checkbox"|attr:"id:deliver_by_special_date" }}
                 </div>
                {% endif %}
               <h5 style="font-size:1.20em;">New Address Details (if required)</h5>
               <div class="form-group">
                  <label for="lwi-email-address">Address Line 1</label>
                  <small class="form-text text-muted">&nbsp;</small>
                  {{form.divert_address1.errors}}
                  {{ form.divert_address1|attr:"type:text"|add_class:"form-control"|attr:"id:lwi-contact-name"|attr:"placeholder:Address line 1" }}
               </div>
               <div class="form-group">
                  <label for="lwi-email-address">Address Line 2</label>
                  <small class="form-text text-muted">&nbsp;</small>
                  {{form.divert_address2.errors}}
                  {{ form.divert_address2|attr:"type:text"|add_class:"form-control"|attr:"id:lwi-contact-name"|attr:"placeholder:Address line 2" }}
               </div>
               <div class="form-group">
                  <label for="lwi-email-address">Town</label>
                  <small class="form-text text-muted">&nbsp;</small>
                  {{form.divert_town.errors}}
                  {{ form.divert_town|attr:"type:text"|add_class:"form-control"|attr:"id:lwi-contact-name"|attr:"placeholder:Town" }}
               </div>
               <div class="form-group">
                  <label for="lwi-email-address">County</label>
                  <small class="form-text text-muted">&nbsp;</small>
                  {{form.divert_county.errors}}
                  {{ form.divert_county|attr:"type:text"|add_class:"form-control"|attr:"id:lwi-contact-name"|attr:"placeholder:County" }}
               </div>
               <div class="form-group">
                  <label for="lwi-email-address">New contact name</label>
                  <small class="form-text text-muted">&nbsp;</small>
                   {{form.divert_contact_name.errors}}
                   {{ form.divert_contact_name|attr:"type:text"|add_class:"form-control"|attr:"id:lwi-email-address"|attr:"placeholder: Name" }}

               </div>
               <div class="form-group">
                  <label for="lwi-email-address">New contact number</label>
                  <small class="form-text text-muted">&nbsp;</small>
                  {{form.divert_contact_number.errors}}
                  {{ form.divert_contact_number|attr:"type:text"|add_class:"form-control"|attr:"id:lwi-contact-number"|attr:"placeholder: Contact number" }}
               </div>
               <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </form>
            <img src="{% static "img/gift-box.png" %}" class="img-responsive" alt="Littlewoods Ireland logo" width="50%" height="auto">
            <div class="panel panel-default">
               <div class="panel-body">
                  Terms and Conditions Apply<br><br>
                  <small>
                  Only small items 5kg in weight and up to 1 metre in length are subject to gift wrapping, if your item does not fit in the specified box, Fastway will contact you. Seasonal items that come direct from the supplier are excluded from gift wrapping. A gift receipt will not be included in the parcel; however, the advice note will be sent directly to you. Items can only be sent within the Republic of Ireland. If the item is faulty or unwanted it must be returned by the account holder. Once your gift wrapped parcel has been delivered, your Littlewoods Ireland account will be charged for this service.
                     <br><br>
                     If you have any queries in relation to the gift wrapping service, please contact Littlewoods Ireland 01 8112307 or email us at
                     <a href="mailto:clickandcollect@shopdirect.com?Subject=Gift%20Wrapping" target="_top">clickandcollect@shopdirect.com</a>
                  </small>
              </div>
            </div>
         </div>
      </div>
      <!-- /.container -->
      <div id="bg">
         <img src="{% static img %}" alt="">
      </div>
{% endblock %}

