<div class="panel panel-default">
               <div class="panel-heading">
                  <div class="panel-title">Request #4</div>
                  <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-down"></i></span>
               </div>
               <div class="panel-body panel-collapsed collapse">
                  <address>
                     <strong>LWI Account Number</strong>
                     232345
                  </address>
                  <address>
                     <strong>Email Address</strong>
                     carla@email.com
                  </address>
                  <address>
                     <strong>Product Description</strong><br>
                     Armani Exchange Rose Gold Dial Rose Gold IP Plated Bracelet Ladies Watch
                  </address>
                  <hr>
                  <address>
                     <strong>Customer Name</strong><br>
                     Sarah Jane
                  </address>
                  <address>
                     <strong>Delivery Address</strong><br>
                     Address 1, Address 2, Town, County, Postcode
                  </address>
                  <address>
                     <strong>Message for card</strong><br>
                     You're a narcissist and your family is dysfunctional. Still, Merry Christmas and Happy New Year!
                  </address>
                  <hr>
                  <div class="alert alert-danger" role="alert">
                     <strong>Failure!</strong> Request is too late and cannot be processed. Please contact customer.
                  </div>
                  <div class="form-group">
                     <label for="Textarea"><strong>Enter UPI</strong></label>
                     <input type="text" class="form-control" placeholder="Enter UPI">
                  </div>
                  <button type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
               </div>
            </div>