{% extends 'giftwrap/admin_base.html' %}

{% load staticfiles %}

{% block content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
    </nav>

    <div class="jumbotron">
       <div class="container">
          <img src="{% static "img/lwi-logo-horizontal-white.svg" %}" class="img-responsive" alt="Littlewoods Ireland logo">
          <h2>{{ special_date_name }} Gift Wrapping</h2>
       </div>
    </div>

    <div class="container">
      <div class="wrapper white-bg">
        {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} fade in" role="alert">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        <h4>Requests to be processed</h4>
        {% for request in pending_requests %}
        <a href="{% url 'giftwrap:lwi-request-details' request.id %}">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">{{request.email}} - {{request.account_number}}</div>
          </div>
        </div>
        </a>
        {% endfor %}
        <hr>
        <h4><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Error Requests <small >&nbsp;Please resubmit requests below</small></h4>
        {% for request in error_requests %}
        <a href="{% url 'giftwrap:lwi-request-details' request.id %}">
        <div class="panel panel-error">
          <div class="panel-heading">
            <div class="panel-title">{{request.email}} - {{request.account_number}}</div>
          </div>
        </div>
        </a>
        {% endfor %}
      </div>
    </div>
    <!-- /.container -->

    <div id="bg2">
      <img src="{% static background_img %}" alt="">
    </div>
 {% endblock %}
