{% extends 'epack_base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block js %}
  {{ block.super }}
{% endblock %}

{% block content %}
   <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
            </div>
         </div>
      </nav>
      <div class="jumbotron">
         <div class="container">
            <img src="{% static "img/lwi-logo-horizontal-white.svg" %}" class="img-responsive" alt="Littlewoods Ireland logo">
            <h2>Christmas Gift Wrapping</h2>
         </div>
      </div>
      <!-- <img src="img/lwi-gift-wrapping.png" class="img-responsive" alt="Responsive image"> -->
      <div class="container">
         <div class="wrapper">
            <h3>Order Search</h3>
            <form method="POST" action="">
            {% csrf_token %}
            {{ form.non_field_errors }}
               <label for="lwi-email-address">Search for UPI</label>
               <div class="input-group input-group">
                  {{form.upi.errors}}
                  {{ form.upi|attr:"type:text"|add_class:"form-control"|attr:"placeholder:Enter Upi"}}
                  <span class="input-group-addon">
                  <button type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                  </button>
                  </span>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <div class="panel-title">UPI:1234456</div>
                     <span class="pull-right clickable"><i class="glyphicon glyphicon-remove"></i></span>
                  </div>
                  <div class="panel-body">
                     <address>
                        <strong>Customer Name</strong><br>
                        Sarah Jane
                     </address>
                     <address>
                        <strong>Delivery Address</strong><br>
                        Address 1, Address 2, Town, County, Postcode
                     </address>
                     <address>
                        <strong>Message for card</strong><br>
                        You're a narcissist and your family is dysfunctional. Still, Merry Christmas and Happy New Year!
                     </address>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <!-- /.container -->
      <div id="bg2">
         <img src="{% static "img/lwi-gift-wrapping-bg.png" %}" alt="">
      </div>
      <!-- Bootstrap core JavaScript
         ================================================== -->
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="https://use.fontawesome.com/65c0cec872.js"></script>
   </body>
</html>
{% endblock %}
