{% extends 'giftwrap/customer_base.html' %}

{% load static %}

{% block content %}
 <div class="container">
         <div class="wrapper">
         <br><br>
            <div class="panel panel-default" style="text-align:center;">
               <div class="panel-body">
                  <h3><i class="fa fa-check-circle fa-5x"></i></h3>
                  <h3>Success!</h3>
                  <p class="lead">Your request for Gift Wrapping has been received.<br>Thank you.</p>
                  <br>
                  <a href="http://www.littlewoodsireland.ie/"><button type="button" class="btn btn-primary btn-lg btn-block">Continue Shopping</button></a>
               </div>
            </div>
         </div>
      </div>
      <!-- /.container -->
      <div id="bg2">
         <img src="{% static background_img %}" alt="">
      </div>
{% endblock %}
