body {
  padding: 0;
}

.fa {
  margin-right: 5px;
}

.jumbotron {
	background-color: #000000;
	width: 100%;
  max-width: 960px;
  height: 50px;
  padding: 0;
  margin: 0 auto;
}

.lwi-logo-header {
  margin: auto;
  padding-top: 12px;
  padding-bottom: 13px;
  max-height: 100%;
}

.btn {
  width: 100%;
  padding: 10px 0;
  border-radius: 2px;
  background-color: #f5f5f5;
  border-width: 0;
  margin: 20px 0;
  font-size: 14px;
  line-height: 1.29;
  transition: background-color ease-in-out 0.3s;
}

label {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin: 10px 0;
}

.form-group {
  display: flex;
  flex-direction: column;

}

.form-group p {
  font-size: 14px;
  line-height: 1.43;
  color: #333333;
  margin-top: 10px;
}

.form-group input {
  font-size: 14px;
  line-height: 1.43;
  color: #616161;
  margin-top: 20px;
  border: solid 1px #e0e0e0;
  border-radius: 2px;
  height: 40px;
  max-width: 328px;
  transition: border-color ease-in-out 0.3s;
}

.form-group input[type="file"] {
  display: none;
}

.form-group input:valid {
  border-color: #9f9f9f;
  border-width: 2px;
}

.form-group input:focus {
  border-color: #ef80b8;
  border-width: 2px;
}

.form-group input:focus:valid {
  border-color: #90e4b3;
  border-width: 2px;
}

.form-group input:invalid:not(:placeholder-shown) {
  border-color: #ff9cad;
  border-width: 2px;
}

@media screen and (min-width: 768px) {
  .jumbotron {
    height: 101px;
    padding: 12px 0;
  }

  .lwi-logo-header {
    margin: auto;
    padding: auto;
  }

  .form-group input {
    margin-top: 20px;
  }
}
