body {
  padding: 0 0 40px 0;
}

.starter-template {
  padding: 20px 15px;
  text-align: left;
  max-width: 730px;
  margin: 0 auto;
}

img {
	padding: 20px 0 20px 0;
}

.jumbotron {
	background-color: #6F2B7E;
	width: 100%;
}

.btn {
    background-color: #7b267b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Modal */
.modal-content {
    font-size: 18px;
    line-height: 1.55;
}

.modal-header {
  background-color: #6F2B7E;
}

.modal-title {
	color: white;
	text-align: center;
}

.disclaimer {
  display: block;
  margin-top: 25px;
  margin-bottom: 10px;
}

.error-list {
  margin-top: 10px;
  color: #A94442;
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%; 
  z-index: 1; 
  color: #00A7D4;
}
