html {
  height: 100%;
}

body {
  background-color: #F6F8F7;
  background-image: url("../img/lwi-tp-2017-ss-1920x1080-min.png");
  background-repeat: no-repeat;
  background-position: top 0px center;
  background-size: cover;
}

.container .panel-wrapper {
  padding-right: 0px;
  padding-left: 0px;
}

.form-group.track-input {
  width: 486px;
  position: relative;
  margin-bottom: 25px;
}

.track-input .form-control {
  padding-right: 15px;
}

.form-control + .glyphicon {
  position: absolute;
  right: 1px;
  padding: 9px 25px 9px 15px;
  border: 0;
  cursor: pointer;
}

.form-group.track-input .form-control + .glyphicon {
   border-radius: 0px 4px 4px 0px;
}

.panel.tracking-panel {
  width: 708px;
}

.tracking-panel .panel-heading,
.tracking-panel .panel-body {
  padding: 0;
}

.tracking-panel .panel-heading {
  background-color: #F9F9F9;
  color: #000000;
}

.lwi-logo {
  margin-top: 75px;
  margin-bottom: 25px;
}

.date,
.status {
  padding: 30px 35px 10px 35px;
  position: relative;
}

.panel-heading .date,
.panel-heading .status {
  padding: 20px 35px 10px 35px;
}

.panel-body .status {
  border-left: 1px solid #DDDDDD;
}

.panel-body .status:last-child {
  padding-bottom: 30px;
}

.date p {
  text-align: right;
}

p.small-txt {
  font-size: 12px;
}

.panel-body p {
  color: #000000;
  margin: 0px;
}

.panel-body .description {
  font-weight: 500;
}

.panel-heading .date p:first-child,
.panel-heading .status p:first-child {
  margin-bottom: 5px;
}

.img-container {
  width: 35px;
  position: absolute;
  left: -17px;
  top: 10px;
}

.show-mobile {
  display: none;
}

.error-msg {
  text-align: center;
  color: #A94440;
}

.recipient-info {
  color: #A8A7A8;
  margin-bottom: 0px;
}

.est-day {
  font-weight: 800;
  font-size: 38px;
  margin: -8px 0 0 0;
}

.est-month {
  font-size: 22px;
  font-weight: 200;
  margin: -8px 0 0 0;
}

.est-day-str {
  font-weight: 200;
  font-size: 16px;
}

.customer {
  padding-bottom: 12px;
}

.col-sm-8 .col-xs-6 .status {
  padding-top: 0px;
}

.delivery-address {
  margin-bottom: 0px;
}

.faq {
  margin: 20px 0;
}

.breakpoint {
  width: 35px;
}

.event-description {
  font-weight: 800;
  font-size: 18px;
}

.time span {
  color: #A8A7A8;
}

.event-date {
  padding-left: 0px;
}

/* Media queries */

@media (max-width: 540px) {

  .show-mobile {
    display: block;
  }

  .show-mobile.dash {
    display: inline-block;
  }

  .hide-mobile {
    display: none;
  }

  .panel-body .status {
    margin-left: 35px;
    padding-right: 15px;
    width: auto;
  }

  .panel-heading .status,
  .panel-heading .date {
    width: 100%;
  }

  .panel-heading .status p,
  .show-mobile.date-time p {
    display: inline-block;
  }

  .show-mobile.date-time p {
    margin-bottom: 5px;
  }

  .panel-heading .status {
    border-left: none;
    padding-top: 10px;
  }

  .form-group.track-input {
    width: 100%;
  }

  .date p, .est-day p, .est-month p,
  .customer, .recipient-info, .delivery-address,
  .faq {
    text-align: center;
  }

  .est-day, .est-month, .customer, .recipient-info,
  .faq, .delivery-address {
    width: 100%;
  }

}

@media (max-width: 767px) {

  body {
    background-image: none;
  }

  .panel.tracking-panel {
    width: 100%;
  }

  .timeline {
    margin-left: 200px;
  }

}
