interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://ie.preview.api.fastway.org/v2/tracktrace/detail/9009298467801?api_key=APIKEY
  response:
    body: {string: '{"result":{"LabelNumber":"9009298467801","Scans":[{"Type":"T","Courier":"SCU","Description":"Delivery Received in Hub","Date":"12/03/2018
        07:17:19","RealDateTime":"2018-03-12 07:17:19","Name":"Hawkes Bay Couriers
        (Hub)","Franchise":"HBC","Status":"R02","StatusDescription":"","CompanyInfo":{"contactName":"","company":"MISS
        A DE-PREE","address1":"4 Dunsink Avenue","address2":"Finglas West","address3":"Dublin","address4":"Dublin
        11","address5":"DB99 9AA","address6":"","address7":"","address8":"","comment":""},"UploadDate":"12/03/2018","Signature":"","ParcelConnectAgent":null},{"Type":"T","Courier":"NS4","Description":"Recvd in Depot:Inbound Freight","Date":"12/03/2018
        10:25:12","RealDateTime":"2018-03-12 10:25:12","Name":"Dublin","Franchise":"DUB","Status":"R10","StatusDescription":"","CompanyInfo":{"contactName":"","company":"","address1":"","address2":"","address3":"","address4":"","address5":"","address6":"","address7":"","address8":"","comment":""},"UploadDate":"12/03/2018","Signature":"","ParcelConnectAgent":null},{"Type":"T","Courier":"DS1","Descr[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ie.preview.api.fastway.org/v2/tracktrace/detail/JD0000000000000001?api_key=APIKEY
  response:
    body: {string: '{"result":{"LabelNumber":"JD0000000000000001","Scans":[{"Type":"T","Courier":"SCU","Description":"Delivery Received in Hub","Date":"12/03/2018
        07:17:19","RealDateTime":"2018-03-12 07:17:19","Name":"Hawkes Bay Couriers
        (Hub)","Franchise":"HBC","Status":"R02","StatusDescription":"","CompanyInfo":{"co[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ie.preview.api.fastway.org/v2/tracktrace/detail/NON-EXISTING?api_key=APIKEY
  response:
    body: {string: '{"error":"Invalid label number!","generated_in":"0ms","data":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-API-ActualVersion: [v2]
      X-API-ResponseType: [json]
      X-API-Version: [v2]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://ie.preview.api.fastway.org/v2/tracktrace/detail/JJD0000000000000001?api_key=APIKEY
  response:
    body: {string: '{"error":"Label ''JJD0000000000000001'' does not have any scans.","generated_in":"0ms","data":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-API-ActualVersion: [v2]
      X-API-ResponseType: [json]
      X-API-Version: [v2]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://ie.preview.api.fastway.org/v2/tracktrace/detail/9009298467800?api_key=APIKEY
  response:
    body: {string: '{"error":"Label ''9009298467800'' does not have any scans.","generated_in":"0ms","data":null}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      X-API-ActualVersion: [v2]
      X-API-ResponseType: [json]
      X-API-Version: [v2]
    status: {code: 200, message: OK}
version: 1
