{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="author" content="{% block author %}{% endblock %}">

  <title>Littlewoods Ireland ID Track</title>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="{% static "css/track.css" %}">
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link rel="stylesheet" href="{% static "css/ie10-viewport-bug-workaround.css" %}">
</head>
<body>
<script id="js-context" type="application/json">{{ json_context|safe }}</script>
<div id="container" class="container tracking-container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <img src="{% static "img/lwi-logo-black.svg" %}" class="img-responsive center-block lwi-logo"
             alt="Littlewoods Ireland logo">
        <form id="get-tracking-events" method="GET" action="{% url 'tracker:get-events' %}">
          <div class="form-group track-input center-block">
            <input type="text" id="tracking-number" class="form-control" value="{{ tracking_number }}" name="label_id"/>
            <i class="glyphicon glyphicon-search input-group-addon" id="track-parcel" type="submit"></i>
            <div class="error-msg hidden" id="tracking-error"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row" id="events"></div>
  <div class="row">
    <img src="{% static "img/fw-logo-grey.svg" %}" class="img-responsive center-block fw-logo"
         alt="Fastway Ireland logo">
  </div>
  <div class="row footer-spinner">
    <div id="spinner-container" class="spinner-container"></div>
  </div>
</div>
<script src="{% static "js/spin.2.3.2.min.js" %}"></script>
<script src="{% static "js/track.js" %}"></script>
</body>

</html>
